<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>familyName</key>
	<string>URW Bookman L</string>
	<key>styleName</key>
	<string>DemiBoldItal</string>
	<key>copyright</key>
	<string>Copyright (URW)++,Copyright 1999 by (URW)++ Design &amp; Development; Cyrillic glyphs added by Valek Filippov (C) 2001-2005</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>xHeight</key>
	<integer>511</integer>
	<key>capHeight</key>
	<integer>681</integer>
	<key>ascender</key>
	<integer>800</integer>
	<key>descender</key>
	<integer>-200</integer>
	<key>italicAngle</key>
	<real>-10.3</real>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2012/01/05 15:52:54</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.06</string>
	<key>postscriptFontName</key>
	<string>URWBookmanL-DemiBoldItal</string>
	<key>postscriptFullName</key>
	<string>URW Bookman L Demi Bold Italic</string>
	<key>postscriptWeightName</key>
	<string>Bold</string>
	<key>postscriptUnderlineThickness</key>
	<integer>60</integer>
	<key>postscriptUnderlinePosition</key>
	<integer>-125</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-20</integer>
		<integer>0</integer>
		<integer>511</integer>
		<integer>531</integer>
		<integer>681</integer>
		<integer>701</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>79</integer>
		<integer>83</integer>
		<integer>90</integer>
		<integer>98</integer>
		<integer>110</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer></integer>
	</array>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
    </dict>
</plist>
