h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 24px;
}

.container {
  width: 720px;
  margin: 48px auto;
}

body {
  line-height: 24px;
  font-size: 18px;
}

p {
  margin-bottom: 24px;
  font-family: Gill Sans, SansGuiltMB;
  width: 528px;
}

a, a:visited, a:active {
  color: blue;
}

p.colophon {
  color: #777;
}

p.colophon a, p.colophon a:visited, p.colophon a:active {
  color: #B5C8FF;
}

h1 {
  font-size: 400px;
  line-height: 400px;
}

h2 {
  font-size: 400px;
  line-height: 400px;
}

h2#vas-y {
  margin-top: 80px;
  margin-bottom: 64px;
}

span#SansGuiltMB {
  top: -5px !important;
}

span#Alphajet-Shadow {
  top: 2px !important;
}
