h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 24px;
}

.container {
  width: 720px;
  margin: 48px auto;
}

body {
  line-height: 24px;
  font-size: 18px;
}

p {
  margin-bottom: 24px;
  font-family: Gill Sans, SansGuiltMB;
  width: 528px;
}

p#source-files {
  position: fixed;
  top: 24px;
  right: 128px;
  width: inherit;
}
a, a:visited, a:active {
  color: blue;
}

p.colophon {
  color: #777;
}

p.colophon a, p.colophon a:visited, p.colophon a:active {
  color: #B5C8FF;
}

h1 {
  font-size: 64px;
  line-height: 72px;
}

h2 {
  font-size: 48px;
  line-height: 48px;
}

h2 a {
    text-decoration: none;
    color: inherit !important;
}

div#mixtape h2 {
    margin-bottom: 16px;
}

div#mixtape p {
    margin-left: 8px;
    margin-bottom: 36px;
    color: #777;
}

h2#vas-y {
  margin-top: 80px;
  margin-bottom: 64px;
}

span#SansGuiltMB {
  top: -5px !important;
}

span#Alphajet-Shadow {
  top: 2px !important;
}
