<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>space</key>
	<string>space.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>universal</key>
	<string>universal.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>existential</key>
	<string>existential.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>suchthat</key>
	<string>suchthat.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>asteriskmath</key>
	<string>asteriskmath.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>congruent</key>
	<string>congruent.glif</string>
	<key>Alpha</key>
	<string>a_lpha.glif</string>
	<key>Beta</key>
	<string>b_eta.glif</string>
	<key>Chi</key>
	<string>c_hi.glif</string>
	<key>Delta</key>
	<string>d_elta.glif</string>
	<key>Epsilon</key>
	<string>e_psilon.glif</string>
	<key>Phi</key>
	<string>p_hi.glif</string>
	<key>Gamma</key>
	<string>g_amma.glif</string>
	<key>Eta</key>
	<string>e_ta.glif</string>
	<key>Iota</key>
	<string>i_ota.glif</string>
	<key>theta1</key>
	<string>theta1.glif</string>
	<key>Kappa</key>
	<string>k_appa.glif</string>
	<key>Lambda</key>
	<string>l_ambda.glif</string>
	<key>Mu</key>
	<string>m_u.glif</string>
	<key>Nu</key>
	<string>n_u.glif</string>
	<key>Omicron</key>
	<string>o_micron.glif</string>
	<key>Pi</key>
	<string>p_i.glif</string>
	<key>Theta</key>
	<string>t_heta.glif</string>
	<key>Rho</key>
	<string>r_ho.glif</string>
	<key>Sigma</key>
	<string>s_igma.glif</string>
	<key>Tau</key>
	<string>t_au.glif</string>
	<key>Upsilon</key>
	<string>u_psilon.glif</string>
	<key>sigma1</key>
	<string>sigma1.glif</string>
	<key>Omega</key>
	<string>o_mega.glif</string>
	<key>Xi</key>
	<string>x_i.glif</string>
	<key>Psi</key>
	<string>p_si.glif</string>
	<key>Zeta</key>
	<string>z_eta.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>therefore</key>
	<string>therefore.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>perpendicular</key>
	<string>perpendicular.glif</string>
	<key>underscore</key>
	<string>underscore.glif</string>
	<key>radicalex</key>
	<string>radicalex.glif</string>
	<key>alpha</key>
	<string>alpha.glif</string>
	<key>beta</key>
	<string>beta.glif</string>
	<key>chi</key>
	<string>chi.glif</string>
	<key>delta</key>
	<string>delta.glif</string>
	<key>epsilon</key>
	<string>epsilon.glif</string>
	<key>phi</key>
	<string>phi.glif</string>
	<key>gamma</key>
	<string>gamma.glif</string>
	<key>eta</key>
	<string>eta.glif</string>
	<key>iota</key>
	<string>iota.glif</string>
	<key>phi1</key>
	<string>phi1.glif</string>
	<key>kappa</key>
	<string>kappa.glif</string>
	<key>lambda</key>
	<string>lambda.glif</string>
	<key>mu</key>
	<string>mu.glif</string>
	<key>nu</key>
	<string>nu.glif</string>
	<key>omicron</key>
	<string>omicron.glif</string>
	<key>pi</key>
	<string>pi.glif</string>
	<key>theta</key>
	<string>theta.glif</string>
	<key>rho</key>
	<string>rho.glif</string>
	<key>sigma</key>
	<string>sigma.glif</string>
	<key>tau</key>
	<string>tau.glif</string>
	<key>upsilon</key>
	<string>upsilon.glif</string>
	<key>omega1</key>
	<string>omega1.glif</string>
	<key>omega</key>
	<string>omega.glif</string>
	<key>xi</key>
	<string>xi.glif</string>
	<key>psi</key>
	<string>psi.glif</string>
	<key>zeta</key>
	<string>zeta.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>similar</key>
	<string>similar.glif</string>
	<key>Upsilon1</key>
	<string>u_psilon1.glif</string>
	<key>Euro</key>
	<string>e_uro.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>fraction</key>
	<string>fraction.glif</string>
	<key>infinity</key>
	<string>infinity.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>club</key>
	<string>club.glif</string>
	<key>diamond</key>
	<string>diamond.glif</string>
	<key>heart</key>
	<string>heart.glif</string>
	<key>spade</key>
	<string>spade.glif</string>
	<key>arrowboth</key>
	<string>arrowboth.glif</string>
	<key>arrowleft</key>
	<string>arrowleft.glif</string>
	<key>arrowup</key>
	<string>arrowup.glif</string>
	<key>arrowright</key>
	<string>arrowright.glif</string>
	<key>arrowdown</key>
	<string>arrowdown.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>second</key>
	<string>second.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>proportional</key>
	<string>proportional.glif</string>
	<key>partialdiff</key>
	<string>partialdiff.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>notequal</key>
	<string>notequal.glif</string>
	<key>equivalence</key>
	<string>equivalence.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>arrowvertex</key>
	<string>arrowvertex.glif</string>
	<key>arrowhorizex</key>
	<string>arrowhorizex.glif</string>
	<key>carriagereturn</key>
	<string>carriagereturn.glif</string>
	<key>aleph</key>
	<string>aleph.glif</string>
	<key>Ifraktur</key>
	<string>i_fraktur.glif</string>
	<key>Rfraktur</key>
	<string>r_fraktur.glif</string>
	<key>weierstrass</key>
	<string>weierstrass.glif</string>
	<key>circlemultiply</key>
	<string>circlemultiply.glif</string>
	<key>circleplus</key>
	<string>circleplus.glif</string>
	<key>emptyset</key>
	<string>emptyset.glif</string>
	<key>intersection</key>
	<string>intersection.glif</string>
	<key>union</key>
	<string>union.glif</string>
	<key>propersuperset</key>
	<string>propersuperset.glif</string>
	<key>reflexsuperset</key>
	<string>reflexsuperset.glif</string>
	<key>notsubset</key>
	<string>notsubset.glif</string>
	<key>propersubset</key>
	<string>propersubset.glif</string>
	<key>reflexsubset</key>
	<string>reflexsubset.glif</string>
	<key>element</key>
	<string>element.glif</string>
	<key>notelement</key>
	<string>notelement.glif</string>
	<key>angle</key>
	<string>angle.glif</string>
	<key>gradient</key>
	<string>gradient.glif</string>
	<key>registerserif</key>
	<string>registerserif.glif</string>
	<key>copyrightserif</key>
	<string>copyrightserif.glif</string>
	<key>trademarkserif</key>
	<string>trademarkserif.glif</string>
	<key>product</key>
	<string>product.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>dotmath</key>
	<string>dotmath.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>logicaland</key>
	<string>logicaland.glif</string>
	<key>logicalor</key>
	<string>logicalor.glif</string>
	<key>arrowdblboth</key>
	<string>arrowdblboth.glif</string>
	<key>arrowdblleft</key>
	<string>arrowdblleft.glif</string>
	<key>arrowdblup</key>
	<string>arrowdblup.glif</string>
	<key>arrowdblright</key>
	<string>arrowdblright.glif</string>
	<key>arrowdbldown</key>
	<string>arrowdbldown.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>angleleft</key>
	<string>angleleft.glif</string>
	<key>registersans</key>
	<string>registersans.glif</string>
	<key>copyrightsans</key>
	<string>copyrightsans.glif</string>
	<key>trademarksans</key>
	<string>trademarksans.glif</string>
	<key>summation</key>
	<string>summation.glif</string>
	<key>parenlefttp</key>
	<string>parenlefttp.glif</string>
	<key>parenleftex</key>
	<string>parenleftex.glif</string>
	<key>parenleftbt</key>
	<string>parenleftbt.glif</string>
	<key>bracketlefttp</key>
	<string>bracketlefttp.glif</string>
	<key>bracketleftex</key>
	<string>bracketleftex.glif</string>
	<key>bracketleftbt</key>
	<string>bracketleftbt.glif</string>
	<key>bracelefttp</key>
	<string>bracelefttp.glif</string>
	<key>braceleftmid</key>
	<string>braceleftmid.glif</string>
	<key>braceleftbt</key>
	<string>braceleftbt.glif</string>
	<key>braceex</key>
	<string>braceex.glif</string>
	<key>angleright</key>
	<string>angleright.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>integraltp</key>
	<string>integraltp.glif</string>
	<key>integralex</key>
	<string>integralex.glif</string>
	<key>integralbt</key>
	<string>integralbt.glif</string>
	<key>parenrighttp</key>
	<string>parenrighttp.glif</string>
	<key>parenrightex</key>
	<string>parenrightex.glif</string>
	<key>parenrightbt</key>
	<string>parenrightbt.glif</string>
	<key>bracketrighttp</key>
	<string>bracketrighttp.glif</string>
	<key>bracketrightex</key>
	<string>bracketrightex.glif</string>
	<key>bracketrightbt</key>
	<string>bracketrightbt.glif</string>
	<key>bracerighttp</key>
	<string>bracerighttp.glif</string>
	<key>bracerightmid</key>
	<string>bracerightmid.glif</string>
	<key>bracerightbt</key>
	<string>bracerightbt.glif</string>
    </dict>
</plist>
